<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 保留：模块功能必需的权限（库模式下会和主项目清单合并，无需删除） -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 保留：模块功能强依赖的硬件要求（若不需要可删除，这里和权限对应，建议保留） -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <application
        android:name=".main.ConApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CooperativeProjectsDemo">

        <activity
            android:name="debug_splash.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApp.Splash">
        </activity>

        <activity
            android:name="debug_login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.CooperativeProjectsDemo"/> <!-- 保留：所有 Service、Activity 组件（删除仅独立运行的配置即可） -->

        <service
            android:name="sports.data.StepForegroundService"
            android:enabled="true" />

        <activity
            android:name="schedule.ui.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name="schulte.ui.SchulteGridActivity"
            android:exported="false" />
        <activity android:name=".main.ConMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>