<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

<!--    <application-->
<!--        android:theme="@style/Theme.CooperativeProjectsDemo"-->
<!--        android:usesCleartextTraffic="true"-->
<!--        android:name=".main.ConApplication">-->
<!--        <activity-->
<!--            android:name="other.OtherReportActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name="schulte.ui.SchulteGridActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name="bind_device.BindActivity"-->
<!--            android:exported="false" />-->
<!--        <service-->
<!--            android:name="sports.data.StepForegroundService"-->
<!--            android:enabled="true" />-->
<!--        <activity-->
<!--            android:name="schedule.ui.ScheduleActivity"-->
<!--            android:exported="false" />-->

<!--        <activity-->
<!--            android:name="debug_splash.SplashActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.MyApp.Splash"/>-->
<!--        <activity-->
<!--            android:name="debug_login.LoginActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.CooperativeProjectsDemo" /> &lt;!&ndash; 保留：所有 Service、Activity 组件（删除仅独立运行的配置即可） &ndash;&gt;-->
<!--        <activity android:name=".main.ConMainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->

</manifest>