<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 2. 可选但建议加：声明应用需要麦克风硬件（提升兼容性） -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <application android:theme="@style/Theme.CooperativeProjectsDemo">
        <!--<activity
            android:name="read_assessment.ui.RecordActivity"
            android:exported="false" />-->

        <!-- android:name=".schulte.ui.SchulteGameActivity" -->
        <activity
            android:name="read_assessment.ui.RecordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>